<div id="footer">
<div id="fineprint">
<% if pagename == 'bugs' %>
    <p><sup>[<a id="ftn.distro">1</a>] </sup>This already uses release tags ('sid', '<%= r_testing %>') and xxx-ignore ('<%= r_testing %>-ignore') to include/exclude bugs</p>
<% end %>
    <p>
    Ultimate Debian Database:
    <a href="https://wiki.debian.org/UltimateDebianDatabase/"> hacking / bug reporting / contact information</a><br />
    Debian is a registered trademark of <a href="https://www.spi-inc.org/">Software in the Public Interest</a>
    </p>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.14.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/dataTables.2.2.2.min.js"></script>
<script type="text/javascript" src="/js/dataTables.jqueryui.2.2.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/js/udd-autocomplete.js"></script>
<script type="text/javascript" src="/js/udd.js"></script>
<script type="text/javascript" src="/js/removeblankfields.js"></script>
<script type="text/javascript" src="/js/quicknav.js"></script>
<script type="text/javascript" src="/js/dataTables.buttons.3.2.2.min.js"></script>
<script type="text/javascript" src="/js/buttons.colVis.3.2.2.min.js"></script>
<% case pagename
   when 'lintian', 'dmd', 'lintian-tag', 'bugs-usertags', 'bugs' %>
<script type="text/javascript" src="/js/<%= pagename %>.js"></script>
<% end %>
<% if defined?(footer_js) %>
<script type="text/javascript">
  <%= footer_js %>
</script>
<% end %>
<% if pagename == 'bugs' && bugs %>
<script type="text/javascript">
    function position() {
        window.location.hash = "#results";
    }
    window.addEventListener('load', position, false);
</script>
<% end %>
</body>
</html>
