<!DOCTYPE html>
<html>
<head>
<link href="/css/debian.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/js/jquery-ui-1.14.1/jquery-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/dataTables.jqueryui.2.2.2.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/buttons.dataTables.3.2.2.min.css"/>
<link href="/css/udd.css" rel="stylesheet" type="text/css">
<title>UDD - <%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<% if defined?(canonical) %>
<link rel="canonical" href="#{canonical}"/>
<% end %>
<% if defined?(description) %>
  <meta name="description" content="#{description}"/>
<% end %>
<% if pagename == 'dmd' %>
<link title="DMD" type="application/opensearchdescription+xml" rel="search" href="/dmd-opensearch.xml">
<% end %>
</head>
<body>
<div id="header">
  <div id="wikisection">
    <p class="section"><a href="/" title="Ultimate Debian Database">UDD</a></p>
  </div>
  <div id="upperheader">
    <div id="logo">
        <a href="https://www.debian.org" title="Debian Home"><img src="/img/openlogo-50.png" alt="Debian" width="50" height="61"></a>
    </div>
  </div> <!-- end upperheader -->
  <div id="navbar">
    <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
    <ul>
       <li><a href="/">Ultimate Database</a></li>
       <li><a href="/bugs/">Bugs search</a></li>
       <li><a href="/dmd/">Maintainer dashboard</a></li>
       <li><a href="/lintian/">Lintian</a></li>
       <li><a href="/lintian-tags">Lintian tags</a></li>
       <li><a href="/patches">Patches</a></li>
       <li><a href="/cgi-bin/bts-usertags.cgi">Bugs usertags</a></li>
    </ul>
  </div> <!-- end navbar -->
  <p id="breadcrumbs">&nbsp;<%= title %></p> 
</div> <!-- end header -->


