<%= ERB.new(File.read(File.expand_path('templates/partials/header.erb')), nil, nil, '_erbout01').result(binding) %>
<div id="content">
  <h1 id='dashboard'>Lintian</h1>
<form id="searchForm" action="/lintian/#all" method="get">
<table>
<tbody>
  <%= ERB.new(File.read(File.expand_path('templates/partials/dmd-form.erb')), nil, nil, '_erbout01').result(binding) %>
    <tr>
        <th>Format</th>
        <td>
         <label><input type='radio' name='format' value='html' checked> HTML</label>
         <label><input type='radio' name='format' value='json'> JSON</label>
         <label><input type='radio' name='format' value='yaml'> YAML</label>
        </td>
    </tr>
    <tr>
        <th>Filters</th>
        <td>
          <label><input type='checkbox' name='onlydev' <%= params['onlydev'] ? 'checked' : '' %>> Exclude packages not in unstable or experimental</label><br>
          <label><input type='checkbox' name='onlyrecent' <%= params['onlyrecent'] ? 'checked' : '' %>> Exclude packages not uploaded during the last month</label><br>
          <label><input type='checkbox' name='onlytesting' <%= params['onlytesting'] ? 'checked' : '' %>> Exclude packages not in testing</label><br>
          <label><input type='checkbox' name='onlydiffversion' <%= params['onlydiffversion'] ? 'checked' : '' %>> Exclude packages with the same version in unstable and testing</label><br>
          <label><input type='checkbox' name='onlysidnottesting' <%= params['onlysidnottesting'] ? 'checked' : '' %>> Include only packages in sid but not in testing</label><br>
          <label><input type='checkbox' name='onlykey' <%= params['onlykey'] ? 'checked' : '' %>> Include only key packages</label>
        </td>
    </tr>
    <tr>
      <th>Levels (tag types)</th>
      <td>
        <%
          ['error', 'warning', 'information', 'pedantic', 'experimental', 'overridden', 'masked', 'classification'].each do |tt| %>
          <label><input type='checkbox' name='<%= "lt_#{tt}" %>' <%= params["lt_#{tt}"] ? 'checked' : '' %>> <%= tt %></label>
        <% end %>
       </td>
    </tr>
    <tr>
      <th>Tag name</th>
      <td><input id="lintian_tag" type='text' size='32' name='lintian_tag' value='<%= params['lintian_tag'] %>'></td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <input type='submit' value='Search' onsubmit="removeBlankFields(this);" class='btn-lg'/>
        </td>
    </tr>
</tbody>
</table>
</form>

<% if uddd %>

<h2 id='all'><a id='all'></a>All issues</h2>
<table class="display compact cell-border" id="lintian">
<thead>
<tr>
    <th class="nowrap">source</th>
    <th class="nowrap">version</th>
    <th class="nowrap">binary</th>
    <th class="nowrap">level</th>
    <th class="nowrap">tag</th>
    <th class="nowrap"><span title="tags affecting binary packages are counted once per architecture">count</th>
    <th>information</th>
</tr>
</thead>
<tbody>
    <% uddd.lintian['all'].each do |t| %>
    <tr>
      <td class="nowrap"><a href="https://tracker.debian.org/<%= t['source'] %>"><%= t['source'] %></a></td>
      <td class="nowrap"><%= t['version'] %></td>
      <td class="nowrap"><%=
      if t['package']
        "<span title=\"#{t['architectures'].join(',')}\">#{t['package']}/#{t['package_version']}</span>"
      end
      %></td>
      <td class="nowrap"><%= t['tag_type'] %></td>
      <td class="nowrap">
        <%= if t['lintian_version'] != uddd.lintian['current_lintian_version'] then "<span title=\"Result from lintian #{t['lintian_version']}, needs refresh\"><i>" else "" end %>
            <a href="https://udd.debian.org/lintian-tag/<%= t['tag'] %>"><%= t['tag'] %></a>
        <%= if t['lintian_version'] != uddd.lintian['current_lintian_version'] then "</span><i>" else "" end %>
      </td>
      <td class="nowrap"><%= t['count'] %></td>
      <td class="nowrap"><%= CGI.escape_html(t['information']) %></td>
    </tr>
    <% end %>
</tbody></table>

<small><b>Generated in <%= sprintf "%.2f", Time::now - tstart %> seconds.</b></small><br/>
<small>The most recent lintian version known by UDD is <%= uddd.lintian['current_lintian_version'] %>. Results in <i>italic</i> are from an older version.</small><br/>
<% if uddd.lintian['unknown_sources'] > 500 %>
  <small><b>ERROR:There are <%= uddd.lintian['unknown_sources'] %> source packages in unstable or experimental that are unknown by the UDD lintian data. This is probably a bug. Please notify debian-qa@lists.debian.org.</small></b>
<% end %>

<% end %><!-- end if uddd -->
<br />
<br />
</div><!-- end content -->
<%= ERB.new(File.read(File.expand_path('templates/partials/footer.erb')), nil, nil, '_erbout01').result(binding) %>
