label:hover { cursor: pointer; }
input {outline: 1px solid transparent;}

span.prio_high {
    color: #ff0000;
    font-weight: bold;
}

span.prio_ok {
    color: #007f00;
    font-weight: bold;
}

span.prio_med {
    color: #ccaa00;
    font-weight: bold;
}

span.prio_high_nobold {
    color: #ff0000;
}

span.prio_ok_nobold {
    color: #007f00;
}

span.prio_med_nobold {
    color: #ccaa00;
}


a, a:link { text-decoration: none; }
a:hover, a:link:hover { text-decoration: underline; }
h2 {
    margin: 16px 0;
}
#content {
    margin-top: 12px;
    display: block;
}
.center { text-align: center; }
.autocompletecontainer {
  position:absolute;
  width: 600px;
} 
.ui-menu {
  background-color: #fff;
  border: 1px solid #ddd;
}
.ui-menu li {
  list-style-type: none;
  cursor: pointer;
}
.ui-menu-item a:hover { text-decoration: none; }
.ui-menu-item:hover { background-color: #eee; }
.indent { padding: 0.5em 1em; }
#navbar ul { padding-right: 70px; }
#navbar li.rightmenuitem { float: right; }
#quicknav {
    display: block;
    position: fixed;
    right: 0;
    top: 85px;
    padding: 0 12px;
    color: #555;
    background-color: #fff;
    font-size: 0.9em;
}
.table-contour {
    border-collapse: separate;
    border-color: #c5c5c5;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    padding-left: 8px;
}

.btn-lg {
    padding: 6px 14px;
    margin-top: 3px;
}

table#dmddetails {
  width: 100%;
}

table#dmddetails thead th, table#todolist thead th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  font-size: 14px;
  padding: 2px;
}

table#dmddetails tbody td {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: center;
  overflow-wrap: anywhere;
}

table#todolist tbody td {
  padding: 2px;
  font-size: 14px;
  overflow-wrap: anywhere;
}

table#dmddetails thead {
  position: sticky;
  z-index: 1;
  top: 0;
  background: white;
}

table#dmddetails thead tr:first-child>th:first-child {
  position: sticky;
  z-index: 2;
  left: 0;
  background: white;
}

table#dmddetails tbody th {
  position: sticky;
  left: 0;
  background: white;
  font-weight: normal;
}

table td.nowrap, table th.nowrap {
  white-space: nowrap;
}
